nd/ws/test-data/simple/with-embedded-schema.wsdl

<?xml version="1.0"?>
<definitions name="Simple"
             targetNamespace="http://example.com/stockquote.wsdl"
             xmlns:tns="http://example.com/stockquote.wsdl"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:schema="http://example.com/stockquote.xsd">

    <types>
        <xsd:schema targetNamespace="http://example.com/stockquote.xsd"
                    xmlns:tns="http://example.com/stockquote.xsd">

            <xsd:simpleType name="SKU">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{3}-[A-Z]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <xsd:element name="comment" type="xsd:string"/>
            <xsd:element name="purchaseOrder" type="tns:PurchaseOrderType"/>
            
            <xsd:complexType name="PurchaseOrderType">
                <xsd:sequence>
                    <xsd:element name="shipTo" type="tns:USAddress"/>
                    <xsd:element name="billTo" type="tns:USAddress"/>
                    <xsd:element ref="tns:comment" minOccurs="0"/>
                    <xsd:element name="items"  type="tns:Items"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="USAddress">
                <xsd:sequence>
                    <xsd:element name="name"   type="xsd:string"/>
                    <xsd:element name="street" type="xsd:string"/>
                    <xsd:element name="city"   type="xsd:string"/>
                    <xsd:element name="state"  type="xsd:string"/>
                    <xsd:element name="zip"    type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>

            <!--xsd:complexType name="Items">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="productName" type="xsd:string"/>
                                <xsd:element name="quantity">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:positiveInteger">
                                            <xsd:maxExclusive value="100"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="USPrice"  type="xsd:decimal"/>
                                <xsd:element ref="comment"   minOccurs="0"/>
                                <xsd:element name="shipDate" type="xsd:date" minOccurs="0"/>
                            </xsd:sequence>
                            <xsd:attribute name="partNum" type="tns:SKU" use="required"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType-->
        </xsd:schema>
    </types>

    <message name="GetLastTradePriceInput">
        <part name="orderType" type="schema:PurchaseOrderType"/>
        <part name="order"     type="xsd:int"/>
        <part name="address"   type="schema:SKU"/>
    </message>

    <message name="GetLastTradePriceOutput">
        <part name="body" element="schema:comment"/>
    </message>

    <portType name="StockQuotePortType">
        <operation name="GetLastTradePrice">
            <input message="tns:GetLastTradePriceInput"/>
            <output message="tns:GetLastTradePriceOutput"/>
        </operation>
    </portType>

    <binding name="StockQuoteSoapBinding" type="tns:StockQuotePortType">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetLastTradePrice">
            <soap:operation soapAction="http://example.com/GetLastTradePrice"/>
            <input>
                <soap:body use="literal" namespace="http://example.com/stockquote.xsd"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://example.com/stockquote.xsd"/>
            </output>
        </operation>
    </binding>

    <service name="StockQuoteService">
        <documentation>My first service</documentation>
        <port name="StockQuotePort" binding="tns:StockQuoteSoapBinding">
            <soap:address location="http://example.com/stockquote"/>
        </port>
    </service>
</definitions>
