nd/wsdl/test-data/wsdl-import/imported.wsdl

<?xml version="1.0"?>
<definitions name="StockQuote"
             targetNamespace="http://example.com/stockquote-interfaces.wsdl"
             xmlns:tns="http://example.com/stockquote-interfaces.wsdl"
             xmlns:xsd1="http://example.com/stockquote.xsd"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema targetNamespace="http://example.com/stockquote.xsd"
                    xmlns:tns="http://example.com/stockquote.xsd">
            <xsd:element name="comment" type="xsd:string"/>
            <xsd:element name="purchaseOrder" type="tns:PurchaseOrderType"/>

            <xsd:complexType name="PurchaseOrderType">
                <xsd:sequence>
                    <xsd:element name="shipTo" type="tns:USAddress"/>
                    <xsd:element name="billTo" type="tns:USAddress"/>
                    <xsd:element ref="tns:comment" minOccurs="0"/>
                    <xsd:element name="items"  type="tns:Items"/>
                </xsd:sequence>
                <xsd:attribute name="orderDate" type="xsd:date"/>
            </xsd:complexType>

            <xsd:complexType name="USAddress">
                <xsd:sequence>
                    <xsd:element name="name"   type="xsd:string"/>
                    <xsd:element name="street" type="xsd:string"/>
                    <xsd:element name="city"   type="xsd:string"/>
                    <xsd:element name="state"  type="xsd:string"/>
                    <xsd:element name="zip"    type="xsd:decimal"/>
                </xsd:sequence>
                <xsd:attribute name="country" type="xsd:NMTOKEN"
                               fixed="US"/>
            </xsd:complexType>

            <xsd:complexType name="Items">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="productName" type="xsd:string"/>
                                <xsd:element name="quantity">
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:positiveInteger">
                                            <xsd:maxExclusive value="100"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="USPrice"  type="xsd:decimal"/>
                                <xsd:element ref="comment"   minOccurs="0"/>
                                <xsd:element name="shipDate" type="xsd:date" minOccurs="0"/>
                            </xsd:sequence>
                            <xsd:attribute name="partNum" type="tns:SKU" use="required"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:simpleType name="SKU">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="\d{3}-[A-Z]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </types>
    
    <message name="GetLastTradePriceInput">
        <part name="body" type="xsd1:comment"/>
    </message>

    <message name="GetLastTradePriceOutput">
        <part name="body" type="xsd1:comment"/>
    </message>
    <portType name="StockQuotePortType">
        <operation name="GetLastTradePrice">
            <input message="tns:GetLastTradePriceInput"/>
            <output message="tns:GetLastTradePriceOutput"/>
        </operation>
    </portType>
    
</definitions>